* {
	outline: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}


html, body {
	height: 100%;
}

body {
	font-size: 15px;
	line-height: 18px;
	color: #545454;
    background-color: #fff;
} 



.btn {
	width: 100px;
    position: relative;
    line-height: 27px;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	text-align: center;
	text-decoration: none;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8d8d8d', endColorstr='#757575', GradientType=0);
	cursor: pointer;
    display: inline-block;
    font-size: 22px;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    border-radius: 2px;
    padding: 2px;
    background-color: #ef7a57;
    color: white;
}

.btn:hover,.btn.orange:hover,.btn.active, .btn:active{
    color: #ef7a57;
    background-color: #F29579;
    text-decoration: none;
}
.btn.orange {
	color: #ff8b00;
}

.btn.orange:hover {
	color: #ffa800;
}

.btn.icon {
	text-align: left;
	padding-left: 37px;
}

.btn.icon:before {
	content: "";
	display: block;
	width: 31px;
	position: absolute;
	left: -1px;
	top: -1px;
	bottom: -1px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	background-position: center center;
}

.clean {
    background-color: firebrick;
}
.clean:hover {
    background-color: red;
    color: firebrick
}

nav .btn.base:before, nav .btn.age:before, nav .btn.model:before, nav .btn.size:before, nav .btn.color:before, nav .btn.method:before, nav .btn.image:before, nav .btn.text:before, nav .btn.figure:before, nav .btn.order:before {
    background-image: url(../images/sprite.png);
}

nav .btn.clean{
   background-image: url(../images/icons/clean.png); 
   background-repeat: no-repeat;
}
nav .btn.type{
   background-image: url(../images/icons/type.png); 
   background-repeat: no-repeat;
}
nav .btn.material{
   background-image: url(../images/icons/material.png); 
   background-repeat: no-repeat;
}
nav .btn.count-fragments{
   background-image: url(../images/icons/puzzle-piece.png); 
   background-repeat: no-repeat;
}
nav .btn.causing{
   background-image: url(../images/icons/technology.png); 
   background-repeat: no-repeat;
}



nav .btn.base:before {
    background-position: -144px 3px;
}
nav .btn.model:before{
    background-position: -297px 4px;
}
nav .btn.color:before {
    background-position: -596px 3px;
}
nav .btn.size:before {
    background-position: -744px 5px;
}
nav .btn.material:before {
    background-position: -896px 4px;
}
nav .btn.image:before {
    background-position: -1048px 3px;
}
nav .btn.text:before {
    background-position: -297px -145px;
}
nav .btn.order:before {
    background-position: -446px -146px;
}

nav {
    position: absolute;
    z-index: 999;
    right: 6%;
}

nav li {
	display: block;
}

nav .btn {
	display: block;
	margin: 10px 0 10px 10px;
}

#edit-area{
   padding-top: 3%;
   position: relative;
}

.ribbon {
    margin-left: 15%;
    top: -30px;
    position: relative;
}

.ribbon .in div{
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-top: none;
    margin-right: -5px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    z-index: 20;
}
.in div:hover{
    background-color: #ddd;
    color: #000;
}

.ribbon .in {
    display: inline-block;
    white-space: nowrap;
}


.product-module{
    margin: 3% 0 10px 29%;
    position: absolute;
    top: 0;
    width: 747px;
    z-index: 1000;

    background-color: #fff;
    box-shadow: 0 25px 10px -10px #fff;
    box-shadow: 0 0 0 1px #ccc, 0 0 10px rgba(0,0,0,.2);
}

.module, .text-module{
    margin: 3% 0 10px 10%;
    position: absolute;
    top: 0;
    z-index: 1000;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 25px 10px -10px #fff;
    box-shadow: 0 0 0 1px #ccc, 0 0 10px rgba(0,0,0,.2);
}


.text-type-item{
    float: right;
    width: 100px;
    background-color: #f3f3f3;
    border-radius: 3px;
    text-align: center;
    line-height: 15px;
    font-style: normal;
    padding: 7px 0 8px 0;
    margin: 3px 0 10px 7px;
}

.text-type-item:hover{
    background-color: #ccc;
    cursor: pointer;
}

.item, .type-item{
    display: block;
    float: right;
    box-sizing: border-box;
    width: 135px;
    height: 185px;
    padding-top: 28px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px 10px 10px 0;
    position: relative;
    box-shadow: inset 0 0 0 1px #fff;
}

.item-img{
    display: block;
    float: right;
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px 10px 10px 0;
    box-shadow: inset 0 0 0 1px #fff;
}

.type-item img{
    display: block;
    float: right;
    box-sizing: border-box;
    max-width: 120px;
    max-height: 150px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 8px 5px 10px 5px;
    box-shadow: inset 0 0 0 1px #fff;
}


.item:hover, .type-item:hover, .item-img:hover{
    border-color: #f90;
    box-shadow: inset 0 0 0 1px #f90;
}
.item img{
    width: 123px;
    height: 148px;
    border-radius: 4px;
}

.item-img{
    width: 123px;
    height: 123px;
    border-radius: 4px;
}

.item-img img{
    display: block;
    max-width: 121px;
    max-height: 121px;
    border-radius: 4px;
}

.img-center{
    height: 123px;
    display: table-cell;
    vertical-align: middle;
}

.item-name {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 7px 8px 8px 8px;
    line-height: 16px;
    border-radius: 3px 3px 0 0;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

.closer{
    top: 2px;
    right: 5px;
    position: absolute;
    background: url(../images/controls/closer.png);
    width: 16px;
    height: 16px;
}
.closer:hover{
    cursor: pointer;
    background: url(../images/controls/closer_active.png);
}


.jscolor{
    position: absolute;
    right: 40px;
    width: 200px;
    font-size: 15px;
}

#colors #value input{
    width: 132px;
    height: 20px;
    border-radius: 1px;
    position: absolute;
    right: 0;
}

#colors #value{
    margin-top: 45px;
    position: absolute;
    right: 35px;
    width: 200px;
}
#colors #style{
    margin-top: 78px;
    position: absolute;
    right: 35px;
    width: 200px;
    float: left;
}
#colors #style span{
    position: absolute;
    display: block;
    float: right;
    top: -5px;
    right: 1px;
    width: 135px;
    height: 25px;
    border-radius: 3px;
}


/*--------------canvas------------*/
#canvases{
    height: 610px;
    margin: 0 5%;
    position: relative;
    overflow: hidden;
}

#canvas{
    position: absolute;
}
/*--------------widgets-----------*/

.widgets{
    display: none;
    margin-left: 3%;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    background-color: #f3f3f3;
    border-right: 1px solid #ddd;
    box-shadow: 0 1px 0 #ddd;
    left: 0;
    z-index: 800;
    width: 270px;
    max-height: 600px;
}

.widget h3{
    line-height: 29px;
    padding-bottom: 1px;
    background-color: #e8e8e8;
    border-radius: 3px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 10px;
}

.layers-list {
    padding: 0 4px 4px 4px;
    background-color: #e8e8e8;
    overflow: auto;
}

.layers-list .layer {
    padding-top: 4px;
    position: relative;
}


.layers-list .layer-content {
    overflow: hidden;
    background-color: #f3f3f3;
    cursor: pointer;
    transition: box-shadow 0.2s;
    height: 40px;
}
.layer.image .img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;
}

.layer.image .img img{
    display: block;
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
}
.layers-list .layer-content h4 {
    text-shadow: 0 1px 0 #fff;
    margin-top: 10px;
}
.layers-list .layer-content:hover {
    background-color: #fff;
}



.widget-layers{
   display: none;
}
.widget-text{
   display: none;
}

.widget-text {
    max-width: 260px;
}

.widget-image img {
    display: block;
    max-width: 100%;
    max-height: 100px;
    margin: 0 auto;
}

.widget h3.crumbs {
    text-align: left;
    padding: 0 10px;
}
.widget h3.crumbs:hover {
    cursor: pointer;
    color: #f90;
}
.widget h3 {
    line-height: 29px;
    padding-bottom: 1px;
    background-color: #e8e8e8;
    border-radius: 3px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 10px;
}


.widget .widget-text h4{
    max-width: 150px;
    overflow: hidden;
}

#fonts{
    margin-top: 40px;
    max-height: 375px;
    overflow-y: scroll;
    background-color: #e8e8e8;
}

.font-list li.active > div {
    background-color: #aaa;
    cursor: default;
}

.font-list li > div {
    overflow: hidden;
    cursor: pointer;
    background-color: #f3f3f3;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    margin: 0 7px 0 7px;
    text-align: center;
}
.font-list li{
    margin-top: 5px;
}

.font-list li > div:hover {
    background-color: #fff;
}

.btn-white {
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    line-height: 27px;
    width: 30px;
    padding-bottom: 1px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,.1), inset 0 -20px 20px -20px rgba(0,0,0,.1);
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #545454;
}

#color-list{
    list-style: none;
}
#color-list p{
    padding-top: 15px;
}
#color-list .example{
    width: 50px;
    height: 50px;
    background-color: Black;
    float: left;
}
#color-list li{
    display: block;
    font: 18px Arial;
    margin-bottom: 5px;
    text-align: center;
}
#color-list li:hover{
    cursor: pointer;
    border: 1px solid #EF7A57;
    border-radius: 3px;
}


#text-color{
    margin-top: 40px;
}

.widget-text .align-left, .widget-text .align-center, .widget-text .align-right {
    float: left;
    height: 30px;
    margin-top: 3px;
    margin-left: 10px;
}

.btn-white:hover {
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,.3), inset 0 -20px 20px -20px rgba(0,0,0,.1);
}

.btn-white.active {
    color: #545454;
    text-decoration: none;
    border-color: #f90;
    box-shadow: 0 0 5px rgba(255,153,0,.3), inset 0 -20px 20px -20px rgba(0,0,0,.1), inset 0 0 0 1px #f90;
    cursor: default;
}

.widget-text .align-left {
    background: url("../images/text-align/left.gif") no-repeat center center #ffffff;
}
.widget-text .align-center {
    background: url("../images/text-align/center.gif") no-repeat center center #ffffff;
}
.widget-text .align-right {
    background: url("../images/text-align/right.gif") no-repeat center center #ffffff;
}

#products-title{
    text-align: center;
}

#input-text{
    width: 250px;
    height: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    resize: none;
    overflow: auto;
    display: inline-block;
    box-sizing: border-box;
    font-size: 15px;
    color: #545454;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 8px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
}
.font{
    padding: 0 10px;
    margin-left: 10px
}

.operate .btn{
    margin: 10px 0;
    width: 121px;
}


/*--------------------------*/



@media screen and (max-width:1050px) {
    .nav{
        right: 5%;
    }
    .widgets{
        width: 215px;
    }
    #input-text{
        width: 196px;
    }
    .font {
        margin-left: 1px;
    }
    .jscolor {
        right: 20px;
        width: 176px;
        font-size: 15px;
    }
    .operate .btn{
        width: 95px;
    }
}

@media screen and (max-width:800px) {
    .nav{
        right: 3%;
    }
    .widgets {
        width: 155px;
    }
    #input-text{
        width: 135px;
    }
    .font {
        padding: 0 40px;
    }
    .btn-white{
        margin-top: 5px;
        margin-left: 8px;
    }
    .jscolor {
        right: 8px;
        width: 133px;
        font-size: 15px;
    }
    .operate .btn{
        width: 65px;
    }
}