body{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
canvas{
    border: 5px solid;
}
#canvases{
    padding-top: 100px;
    clear: both;
}
#canvases div{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#controls{
    padding: 0;
    margin: 0;
    height: 100px;
    background-color: #DCE7F5;
    position: fixed;
    width: 100%;
    z-index: 998;
}
.item{
    float: left;
    border: 1px solid #A5B7D0;
    border-radius: 6px;
    height: 80px;
    padding: 5px;
    margin: 5px;
    position: relative;
    min-width: 200px;
}
.item p{
    text-align: center;
    width: 90%;
    position: absolute;
    bottom: -10px;
    font: 20px Arial;
}
#edit-field{
    display: none;
    position: fixed;
    right: 0;
    border: 3px dotted;
    z-index: 999;
    opacity: 0.7;
    background-color: #C5CFDF;
}
#downloads{
    width: 200px;
    overflow-x: scroll;
}
#downloads a{
    font: 15px Arial;
    margin-right: 5px;
}
#downloads a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}