@font-face {
    font-family: Andika;
    src: url('fonts/Andika.ttf');
}
@font-face {
    font-family: Anonymous Pro;
    src: url('fonts/Anonymous Pro.ttf');
}
@font-face {
    font-family: Bad Script;
    src: url('fonts/Bad Script.ttf');
}
@font-face {
    font-family: Bad Script;
    src: url('fonts/Ubuntu.ttf');
}
